*{
    font-family: "Roboto", sans-serif;
}
.greetingBox{
    /* height: 30%; */
    height: 180px;
    margin: 30px;
    background-color: aliceblue;
    border-radius: 30px;
    margin-bottom: 0;
    box-shadow: 2px 2px 2px #141313d9 ;
    position: relative;
    width: 850px;
    display: flex;
    /* top:20px; */
/* padding: 20px; */
}
.greetingBox .overlay{
    background-color: rgba(0, 0, 0, 0.175);
    z-index: 1;
    width:100%;
    height: 100%;
    position: absolute;
    border-radius: 30px;
}
.greetingBox img{
margin-left: auto;
position: absolute;
left: 450px;
top:-100px;
width: 450px;
height: 350px;
z-index: 2;
}

.greetingBox .Date{
    position: relative;
    color: #3e0465;
    /* font-size: large; */
    /* font-weight: bold; */
    /* top: 125px;
    left:50px; */
    z-index: 2;
    /* margin-right: auto; */
}

/* Style for the greeting message */
.Date p:first-child {
    top: 10px;
    position: absolute;
    font-size: 40px; 
    font-weight: bold; 
    color: #3e0465;
    margin-left: 20px;
}

/* Style for the additional message */
.Date p:nth-child(2) {
    position: absolute;
    top:60px;
    font-size: 20px;  
    color: #555; 
    margin-left: 50px;
}

.Date  p:nth-child(3) {
    position: absolute;
    font-size: 25px; 
    top:90px;
    /* font-weight: bold; */
    color: rgba(129, 11, 164, 0.648);
}
.Date p:last-child {
    position: absolute;
    font-size: 40px; 
    top:100px;
    color: rgba(129, 11, 164, 0.648);
    margin-left: 50px;
}
@media(max-width:991px){
    .greetingBox .Date{
        top:40px;
        font-size:15px;
    }
    .greetingBox{
        width: 500px;
    }
    .greetingBox img{
        position: absolute;
        left: 280px;
        top:-60px;
        width: 250px;
        height: 300px;
        }
        .Date p:first-child {
            top: -50px;
            margin: 0;
            font-size: 30px; 
            margin-left: 40px;
        }
        .Date p:nth-child(2) {
            top:-10px;
            font-size:15px;  
            color: #555; 
            margin-left: 50px;
        }
        .Date p:last-child {
            font-size: 30px; 
            top:30px;
            color: rgba(129, 11, 164, 0.648);
            margin-left: 50px;
        }
}
@media(max-width:441px){
    .greetingBox .Date{
        top:40px;
        font-size:15px;
    }
    .greetingBox{
        width: 200px;
    }
    .greetingBox img{
    display: none;
        }
        .Date p:first-child {
            top: -50px;
            margin: 0;
            font-size: 15px; 
            margin-left: 40px;
        }
        .Date p:nth-child(2) {
            top:-20px;
            font-size:10px;  
            color: #555; 
            margin-left: 50px;
        }
        .Date p:last-child {
            font-size: 20px; 
            top:5px;
            margin-left: 50px;
        }
}
@media(max-width:600px){
    .greetingBox .Date{
        top:40px;
        font-size:15px;
    }
    .greetingBox{
        width: 300px;
    }
    .greetingBox img{
        position: absolute;
        left: 160px;
        top:60px;
        width: 150px;
        height: 150px;
        }
        .Date p:first-child {
            top: -50px;
            margin: 0;
            font-size: 30px; 
            margin-left: 40px;
        }
        .Date p:nth-child(2) {
            top:-10px;
            font-size:15px;  
            color: #555; 
            margin-left: 50px;
        }
        .Date p:last-child {
            font-size: 30px; 
            top:30px;
            color: rgba(129, 11, 164, 0.648);
            margin-left: 50px;
        }
}
