.weatherBox{
    height: 400px;
    margin: 100px;
    background-color: aliceblue;
    border-radius: 30px;
    margin-bottom: 0;
    box-shadow: 2px 2px 2px #141313d9 ;
    position: relative;
    width: 400px;
}